src/ws-ifce/fts3-config-0.0.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://cern.ch/wsdl/services/fts3/config"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:impl="http://cern.ch/wsdl/services/fts3/config"
    xmlns:config="http://cern.ch/fts3/config"
    xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <wsdl:types>
        <schema targetNamespace="http://cern.ch/fts3/config" xmlns="http://www.w3.org/2001/XMLSchema">

            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

            <complexType name="Configuration">
                <sequence>
                    <element maxOccurs="unbounded" name="cfg" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            
            <complexType name="BringOnlinePair">
            	<sequence>
            		<element minOccurs="1" maxOccurs="1" name="first" type="xsd:string"/>
            		<element minOccurs="1" maxOccurs="1" name="second" type="xsd:int"/>
            	</sequence>
            </complexType>
            
            <complexType name="BringOnline">
            	<sequence>
            		<element maxOccurs="unbounded" name="boElem" type="config:BringOnlinePair"/>
            	</sequence>
            </complexType>

            <complexType name="ConfigurationException">
                <sequence>
                    <element name="message" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>

            <element name="InvalidConfigurationExceptionElement" type="config:InvalidConfigurationException"/>

            <complexType name="InvalidConfigurationException">
                <complexContent>
                    <extension base="config:ConfigurationException">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>

            <element name="AuthorizationExceptionElement" type="config:AuthorizationException"/>

            <complexType name="AuthorizationException">
                <complexContent>
                    <extension base="config:ConfigurationException">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>

            <element name="ServiceBusyExceptionElement" type="config:ServiceBusyException"/>

            <complexType name="ServiceBusyException">
                <complexContent>
                    <extension base="config:ConfigurationException">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>

            <element name="InternalExceptionElement" type="config:InternalException"/>

            <complexType name="InternalException">
                <complexContent>
                    <extension base="config:ConfigurationException">
                        <sequence/>
                    </extension>
                </complexContent>
            </complexType>
        </schema>
    </wsdl:types>

    <message name="DrainRequest">
		<part name="drain" type="xsd:boolean"/>
    </message>

    <message name="DrainResponse"/>

    <message name="RetryRequest">
		<part name="retry" type="xsd:int"/>
    </message>
    
    <message name="RetryResponse"/>
    
    <message name="OptimizerModeRequest">
		<part name="optimizer_mode" type="xsd:int"/>
    </message>
    
    <message name="OptimizerModeResponse"/>

    <message name="QueueTimeoutRequest">
		<part name="timeout" type="xsd:unsignedInt"/>
    </message>
    
    <message name="QueueTimeoutResponse"/>

    <message name="SetConfigurationRequest">
        <part name="configuration" type="config:Configuration"/>
    </message>

    <message name="SetConfigurationResponse" />
    
    <message name="DelConfigurationRequest">
        <part name="configuration" type="config:Configuration"/>
    </message>

    <message name="DelConfigurationResponse" />

    <message name="GetConfigurationRequest">
		<part name="vo" type="xsd:string"/>
		<part name="name" type="xsd:string"/>
		<part name="source" type="xsd:string"/>
		<part name="destination" type="xsd:string"/>
    </message>

    <message name="GetConfigurationResponse">
        <part name="configuration" type="config:Configuration"/>
    </message>
    
    <message name="SetBringOnlineRequest">
    	<part name="bring-online" type="config:BringOnline"/>    	
    </message>

	<message name="SetBringOnlineResponse"/>

    <message name="AuthorizationException">
        <part name="fault" element="config:AuthorizationExceptionElement"/>
    </message>

    <message name="InternalException">
        <part name="fault" element="config:InternalExceptionElement"/>
    </message>

    <message name="ServiceBusyException">
        <part name="fault" element="config:ServiceBusyExceptionElement"/>
    </message>

    <message name="InvalidConfigurationException">
        <part name="fault" element="config:InvalidConfigurationExceptionElement"/>
    </message>

    <portType name="Config">
        <operation name="setConfiguration" parameterOrder="configuration">
            <input message="impl:SetConfigurationRequest" name="SetConfigurationRequest"/>
            <output message="impl:SetConfigurationResponse" name="SetConfigurationResponse"/>
            <fault message="impl:AuthorizationException" name="AuthorizationException"/>
            <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>
            <fault message="impl:InvalidConfigurationException" name="InvalidConfigurationException"/>
            <fault message="impl:InternalException" name="InternalException"/>
        </operation>
        
		<operation name="delConfiguration" parameterOrder="configuration">
            <input message="impl:DelConfigurationRequest" name="DelConfigurationRequest"/>
            <output message="impl:DelConfigurationResponse" name="DelConfigurationResponse"/>
            <fault message="impl:AuthorizationException" name="AuthorizationException"/>
            <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>
            <fault message="impl:InvalidConfigurationException" name="InvalidConfigurationException"/>
            <fault message="impl:InternalException" name="InternalException"/>
        </operation>

        <operation name="getConfiguration">
            <input message="impl:GetConfigurationRequest" name="GetConfigurationRequest"/>
            <output message="impl:GetConfigurationResponse" name="GetConfigurationResponse"/>
            <fault message="impl:AuthorizationException" name="AuthorizationException"/>
            <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>
            <fault message="impl:InternalException" name="InternalException"/>
        </operation>
        
        <operation name="doDrain">
            <input message="impl:DrainRequest" name="DrainRequest"/>
            <output message="impl:DrainResponse" name="DrainResponse"/>
            <fault message="impl:AuthorizationException" name="AuthorizationException"/>
            <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>
            <fault message="impl:InternalException" name="InternalException"/>
        </operation>
        
        <operation name="setRetry">
            <input message="impl:RetryRequest" name="RetryRequest"/>
            <output message="impl:RetryResponse" name="RetryResponse"/>
            <fault message="impl:AuthorizationException" name="AuthorizationException"/>
            <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>
            <fault message="impl:InternalException" name="InternalException"/>
        </operation>
        
		<operation name="setOptimizerMode">
            <input message="impl:OptimizerModeRequest" name="OptimizerModeRequest"/>
            <output message="impl:OptimizerModeResponse" name="OptimizerModeResponse"/>
            <fault message="impl:AuthorizationException" name="AuthorizationException"/>
            <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>
            <fault message="impl:InternalException" name="InternalException"/>
        </operation>
        
        <operation name="setQueueTimeout">
            <input message="impl:QueueTimeoutRequest" name="QueueTimeoutRequest"/>
            <output message="impl:QueueTimeoutResponse" name="QueueTimeoutResponse"/>
            <fault message="impl:AuthorizationException" name="AuthorizationException"/>
            <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>
            <fault message="impl:InternalException" name="InternalException"/>
        </operation>
        
        <operation name="setBringOnline">
            <input message="impl:SetBringOnlineRequest" name="SetBringOnlineRequest"/>
            <output message="impl:SetBringOnlineResponse" name="SetBringOnlineResponse"/>
            <fault message="impl:AuthorizationException" name="AuthorizationException"/>
            <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>
            <fault message="impl:InternalException" name="InternalException"/>
        </operation>
        
    </portType>

    <binding name="SoapBinding" type="impl:Config">

        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="setConfiguration">
            <wsdlsoap:operation soapAction=""/>

            <input name="SetConfigurationRequest">
                <wsdlsoap:body namespace="http://cern.ch/wsdl/services/fts3/config" use="literal"/>
            </input>

            <output name="SetConfigurationResponse">
                <wsdlsoap:body namespace="http://cern.ch/wsdl/services/fts3/config" use="literal"/>
            </output>

            <fault name="AuthorizationException">
                <wsdlsoap:fault name="AuthorizationException" use="literal"/>
            </fault>

            <fault name="ServiceBusyException">
                <wsdlsoap:fault name="ServiceBusyException" use="literal"/>
            </fault>

            <fault name="InvalidConfigurationException">
                <wsdlsoap:fault name="InvalidConfigurationException" use="literal"/>
            </fault>

            <fault name="InternalException">
                <wsdlsoap:fault name="InternalException" use="literal"/>
            </fault>
        </operation>
        
		<operation name="delConfiguration">
            <wsdlsoap:operation soapAction=""/>

            <input name="DelConfigurationRequest">
                <wsdlsoap:body namespace="http://cern.ch/wsdl/services/fts3/config" use="literal"/>
            </input>

            <output name="DelConfigurationResponse">
                <wsdlsoap:body namespace="http://cern.ch/wsdl/services/fts3/config" use="literal"/>
            </output>

            <fault name="AuthorizationException">
                <wsdlsoap:fault name="AuthorizationException" use="literal"/>
            </fault>

            <fault name="ServiceBusyException">
                <wsdlsoap:fault name="ServiceBusyException" use="literal"/>
            </fault>

            <fault name="InvalidConfigurationException">
                <wsdlsoap:fault name="InvalidConfigurationException" use="literal"/>
            </fault>

            <fault name="InternalException">
                <wsdlsoap:fault name="InternalException" use="literal"/>
            </fault>
        </operation>

        <operation name="getConfiguration">
            <wsdlsoap:operation soapAction=""/>

            <input name="GetConfigurationRequest">
                <wsdlsoap:body namespace="http://cern.ch/wsdl/services/fts3/config" use="literal"/>
            </input>

            <output name="GetConfigurationResponse">
                <wsdlsoap:body namespace="http://cern.ch/wsdl/services/fts3/config" use="literal"/>
            </output>

            <fault name="AuthorizationException">
                <wsdlsoap:fault name="AuthorizationException" use="literal"/>
            </fault>

            <fault name="ServiceBusyException">
                <wsdlsoap:fault name="ServiceBusyException" use="literal"/>
            </fault>

            <fault name="InternalException">
                <wsdlsoap:fault name="InternalException" use="literal"/>
            </fault>
        </operation>
        
		<operation name="doDrain">
            <wsdlsoap:operation soapAction=""/>

            <input name="DrainRequest">
                <wsdlsoap:body namespace="http://cern.ch/wsdl/services/fts3/config" use="literal"/>
            </input>

            <output name="DrainResponse">
                <wsdlsoap:body namespace="http://cern.ch/wsdl/services/fts3/config" use="literal"/>
            </output>

            <fault name="AuthorizationException">
                <wsdlsoap:fault name="AuthorizationException" use="literal"/>
            </fault>

            <fault name="ServiceBusyException">
                <wsdlsoap:fault name="ServiceBusyException" use="literal"/>
            </fault>

            <fault name="InternalException">
                <wsdlsoap:fault name="InternalException" use="literal"/>
            </fault>
        </operation>
        
        <operation name="setRetry">
            <wsdlsoap:operation soapAction=""/>

            <input name="RetryRequest">
                <wsdlsoap:body namespace="http://cern.ch/wsdl/services/fts3/config" use="literal"/>
            </input>

            <output name="RetryResponse">
                <wsdlsoap:body namespace="http://cern.ch/wsdl/services/fts3/config" use="literal"/>
            </output>

            <fault name="AuthorizationException">
                <wsdlsoap:fault name="AuthorizationException" use="literal"/>
            </fault>

            <fault name="ServiceBusyException">
                <wsdlsoap:fault name="ServiceBusyException" use="literal"/>
            </fault>

            <fault name="InternalException">
                <wsdlsoap:fault name="InternalException" use="literal"/>
            </fault>
        </operation>

        <operation name="setOptimizerMode">
            <wsdlsoap:operation soapAction=""/>

            <input name="OptimizerModeRequest">
                <wsdlsoap:body namespace="http://cern.ch/wsdl/services/fts3/config" use="literal"/>
            </input>

            <output name="OptimizerModeResponse">
                <wsdlsoap:body namespace="http://cern.ch/wsdl/services/fts3/config" use="literal"/>
            </output>

            <fault name="AuthorizationException">
                <wsdlsoap:fault name="AuthorizationException" use="literal"/>
            </fault>

            <fault name="ServiceBusyException">
                <wsdlsoap:fault name="ServiceBusyException" use="literal"/>
            </fault>

            <fault name="InternalException">
                <wsdlsoap:fault name="InternalException" use="literal"/>
            </fault>
        </operation>

        
        <operation name="setQueueTimeout">
            <wsdlsoap:operation soapAction=""/>

            <input name="QueueTimeoutRequest">
                <wsdlsoap:body namespace="http://cern.ch/wsdl/services/fts3/config" use="literal"/>
            </input>

            <output name="QueueTimeoutResponse">
                <wsdlsoap:body namespace="http://cern.ch/wsdl/services/fts3/config" use="literal"/>
            </output>

            <fault name="AuthorizationException">
                <wsdlsoap:fault name="AuthorizationException" use="literal"/>
            </fault>

            <fault name="ServiceBusyException">
                <wsdlsoap:fault name="ServiceBusyException" use="literal"/>
            </fault>

            <fault name="InternalException">
                <wsdlsoap:fault name="InternalException" use="literal"/>
            </fault>
        </operation>
        
        <operation name="setBringOnline">
            <wsdlsoap:operation soapAction=""/>

            <input name="SetBringOnlineRequest">
                <wsdlsoap:body namespace="http://cern.ch/wsdl/services/fts3/config" use="literal"/>
            </input>

            <output name="SetBringOnlineResponse">
                <wsdlsoap:body namespace="http://cern.ch/wsdl/services/fts3/config" use="literal"/>
            </output>

            <fault name="AuthorizationException">
                <wsdlsoap:fault name="AuthorizationException" use="literal"/>
            </fault>

            <fault name="ServiceBusyException">
                <wsdlsoap:fault name="ServiceBusyException" use="literal"/>
            </fault>

            <fault name="InternalException">
                <wsdlsoap:fault name="InternalException" use="literal"/>
            </fault>
        </operation>
        
    </binding>

    <service name="Config">
        <port binding="impl:SoapBinding" name="Config">
            <wsdlsoap:address location="https://localhost:8444/fts3/config"/>
        </port>
    </service>
</definitions>

