src/ws-ifce/fts3-transfer-0.0.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:impl="http://glite.org/wsdl/services/org.glite.data.transfer.fts"
    xmlns:intf="http://glite.org/wsdl/services/org.glite.data.transfer.fts"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:tns3="http://transfer.data.glite.org"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://transfer.data.glite.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   
   <complexType name="TransferParams">
    <sequence>
     <element maxOccurs="unbounded" name="keys" nillable="true" type="xsd:string"/>
     <element maxOccurs="unbounded" name="values" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  
   <element name="TransferExceptionElement" type="tns3:TransferException"/>
   <complexType name="TransferException">
    <sequence>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   
   <element name="InvalidArgumentExceptionElement" type="tns3:InvalidArgumentException"/>
   <complexType name="InvalidArgumentException">
    <complexContent>
     <extension base="tns3:TransferException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   
   <element name="AuthorizationExceptionElement" type="tns3:AuthorizationException"/>
   <complexType name="AuthorizationException">
    <complexContent>
     <extension base="tns3:TransferException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   
   <element name="ServiceBusyExceptionElement" type="tns3:ServiceBusyException"/>
   <complexType name="ServiceBusyException">
    <complexContent>
     <extension base="tns3:TransferException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   
   <element name="InternalExceptionElement" type="tns3:InternalException"/>
   <complexType name="InternalException">
    <complexContent>
     <extension base="tns3:TransferException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   
   <complexType name="TransferJobElement">
    <sequence>
     <element name="source" nillable="true" type="xsd:string"/>
     <element name="dest" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   
   <complexType name="TransferJob">
    <sequence>
     <element maxOccurs="unbounded" name="transferJobElements" nillable="true" type="tns3:TransferJobElement"/>
     <element name="jobParams" nillable="true" type="tns3:TransferParams"/>
     <element name="credential" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   
   <complexType name="TransferJobElement2">
    <sequence>
     <element name="source" nillable="true" type="xsd:string"/>
     <element name="dest" nillable="true" type="xsd:string"/>
     <element name="checksum" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   
   <complexType name="DetailedFileStatus">
    <sequence>
     <element name="jobId" nillable="false" type="xsd:string"/>
     <element name="sourceSurl" nillable="false" type="xsd:string"/>
     <element name="destSurl" nillable="false" type="xsd:string"/>
     <element name="fileId" nillable="false" type="xsd:int"/>
     <element name="fileState" nillable="false" type="xsd:string"/>
    </sequence>
   </complexType>
   
   <complexType name="DetailedJobStatus">
    <sequence>
     <element maxOccurs="unbounded" name="transferStatus" nillable="false" type="tns3:DetailedFileStatus"/>
    </sequence>
   </complexType>   
   
   <complexType name="TransferJob2">
    <sequence>
     <element maxOccurs="unbounded" name="transferJobElements" nillable="true" type="tns3:TransferJobElement2"/>
     <element name="jobParams" nillable="true" type="tns3:TransferParams"/>
     <element name="credential" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>


   
   <complexType name="TransferJobElement3">
    <sequence>
     <element name="source" minOccurs="1" maxOccurs="unbounded" type="xsd:string"/>
     <element name="dest" minOccurs="1" maxOccurs="unbounded" type="xsd:string"/>
     <element name="checksum" nillable="true" minOccurs="0" maxOccurs="unbounded" type="xsd:string"/>
     <element name="filesize" nillable="true" minOccurs="0" type="xsd:double"/>
     <element name="metadata" nillable="true" minOccurs="0" type="xsd:string"/>
     <element name="selectionStrategy" nillable="true" minOccurs="0" type="xsd:string"/>
     <element name="activity" nillable="true" minOccurs="0" type="xsd:string"/>
    </sequence>
   </complexType>
   
   <complexType name="TransferJob3">
    <sequence>
     <element name="transferJobElements" minOccurs="1" maxOccurs="unbounded" type="tns3:TransferJobElement3"/>
     <element name="jobParams"  minOccurs="1" maxOccurs="1" type="tns3:TransferParams"/>
    </sequence>
   </complexType>
   
   <complexType name="JobStatus">
    <sequence>
     <element name="jobID" nillable="true" type="xsd:string"/>
     <element name="jobStatus" nillable="true" type="xsd:string"/>
     <element name="clientDN" nillable="true" type="xsd:string"/>
     <element name="reason" nillable="true" type="xsd:string"/>
     <element name="voName" nillable="true" type="xsd:string"/>
     <element name="submitTime" type="xsd:long"/>
     <element name="numFiles" type="xsd:int"/>
     <element name="priority" type="xsd:int"/>
    </sequence>
   </complexType>
   
   <complexType name="FileTransferStatus">
    <sequence>
     <element name="logicalName" nillable="true" type="xsd:string"/>
     <element name="sourceSURL" nillable="true" type="xsd:string"/>
     <element name="destSURL" nillable="true" type="xsd:string"/>
     <element name="transferFileState" nillable="true" type="xsd:string"/>
     <element name="numFailures" type="xsd:int"/>
     <element name="reason" nillable="true" type="xsd:string"/>
     <element name="reason_class" nillable="true" type="xsd:string"/>
     <element name="duration" type="xsd:long"/>
     <element name="retries" nillable="true" minOccurs="0" maxOccurs="unbounded" type="tns3:FileTransferRetry"/>
    </sequence>
   </complexType>
   
   <complexType name="FileTransferRetry">
     <sequence>
        <element name="attempt" nillable="false" type="xsd:int"/>
        <element name="datetime" nillable="false" type="xsd:long"/>
        <element name="reason" nillable="false" type="xsd:string"/>
     </sequence>
   </complexType>
   
   <element name="NotExistsExceptionElement" type="tns3:NotExistsException"/>
   <complexType name="NotExistsException">
    <complexContent>
     <extension base="tns3:TransferException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   
   <complexType name="FileTransferStatus2">
    <complexContent>
     <extension base="tns3:FileTransferStatus">
      <sequence>
       <element name="error_scope" nillable="true" type="xsd:string"/>
       <element name="error_phase" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   
   <complexType name="TransferJobSummary">
    <sequence>
     <element name="jobStatus" nillable="true" type="tns3:JobStatus"/>
     <element name="numDone" type="xsd:int"/>
     <element name="numActive" type="xsd:int"/>
     <element name="numPending" type="xsd:int"/>
     <element name="numCanceled" type="xsd:int"/>
     <element name="numCanceling" type="xsd:int"/>
     <element name="numFailed" type="xsd:int"/>
     <element name="numFinished" type="xsd:int"/>
     <element name="numSubmitted" type="xsd:int"/>
     <element name="numHold" type="xsd:int"/>
     <element name="numWaiting" type="xsd:int"/>
     <element name="numCatalogFailed" type="xsd:int"/>
     <element name="numRestarted" type="xsd:int"/>
    </sequence>
   </complexType>
   
   <complexType name="TransferJobSummary2">
    <complexContent>
     <extension base="tns3:TransferJobSummary">
      <sequence>
       <element name="numReady" type="xsd:int"/>
       <element name="numFinishing" type="xsd:int"/>
       <element name="numAwaitingPrestage" type="xsd:int"/>
       <element name="numPrestaging" type="xsd:int"/>
       <element name="numWaitingCatalogRegistration" type="xsd:int"/>
       <element name="numWaitingCatalogResolution" type="xsd:int"/>
       <element name="numWaitingPrestage" type="xsd:int"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   
   <element name="CannotCancelExceptionElement" type="tns3:CannotCancelException"/>
   <complexType name="CannotCancelException">
    <complexContent>
     <extension base="tns3:TransferException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   
   <element name="ExistsExceptionElement" type="tns3:ExistsException"/>
   <complexType name="ExistsException">
    <complexContent>
     <extension base="tns3:TransferException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   
   <complexType name="StringPair">
    <sequence>
     <element name="string1" nillable="true" type="xsd:string"/>
     <element name="string2" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   
   <complexType name="Roles">
    <sequence>
     <element name="clientDN" nillable="true" type="xsd:string"/>
     <element name="serviceAdmin" nillable="true" type="xsd:string"/>
     <element name="submitter" nillable="true" type="xsd:string"/>
     <element maxOccurs="unbounded" name="VOManager" nillable="true" type="tns3:StringPair"/>
    </sequence>
   </complexType>
   
   <complexType name="JobRequest">
    <sequence>
     <element name="jobId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="archive" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
   
   <complexType name="FileRequest">
    <sequence>
     <element name="jobId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
     <element name="archive" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
     <element name="offset" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="limit" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="retries" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
   
 <complexType name="deleteFiles">
                <sequence>
                    <element maxOccurs="unbounded" name="delf" nillable="true" type="xsd:string"/>
                </sequence>
   </complexType>
     
  
  </schema>
  <schema targetNamespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://transfer.data.glite.org"/>
   <!--<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>-->

  <complexType name="ArrayOf_soapenc_string">
    <sequence>
     <element name="item" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns3_JobStatus">
    <sequence>
     <element name="item" type="tns3:JobStatus" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns3_FileTransferStatus">
    <sequence>
     <element name="item" type="tns3:FileTransferStatus" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_tns3_FileTransferStatus2">
    <sequence>
     <element name="item" type="tns3:FileTransferStatus2" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
   </complexType>

    <!--<complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_JobStatus">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:JobStatus[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_FileTransferStatus">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:FileTransferStatus[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns3_FileTransferStatus2">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:FileTransferStatus2[]"/>
     </restriction>
    </complexContent>
   </complexType>-->
  </schema>
 </wsdl:types>

   <message name="getInterfaceVersionResponse">

      <part name="getInterfaceVersionReturn" type="xsd:string"/>

   </message>

   <message name="getFileStatusRequest">

      <part name="requestID" type="xsd:string"/>

      <part name="offset" type="xsd:int"/>

      <part name="limit" type="xsd:int"/>

   </message>

   <message name="InvalidArgumentException">

      <part name="fault" element="tns3:InvalidArgumentExceptionElement"/>

   </message>

   <message name="getTransferJobSummaryResponse">

      <part name="getTransferJobSummaryReturn" type="tns3:TransferJobSummary"/>

   </message>

   <message name="ExistsException">

      <part name="fault" element="tns3:ExistsExceptionElement"/>

   </message>
   
   <message name="prioritySetRequest">
   
      <part name="jobId" type="xsd:string"/>
      <part name="priority" type="xsd:int"/>
   
   </message>
   
   <message name="prioritySetResponse"/>

   <message name="debugSetRequest">
   
      <part name="source" type="xsd:string"/>
      <part name="destination" type="xsd:string"/>
      <part name="debug" type="xsd:boolean"/>
      
   </message>
   
   <message name="debugSetResponse"/>
   
  <message name="debugLevelSetRequest">
   
      <part name="source" type="xsd:string"/>
      <part name="destination" type="xsd:string"/>
      <part name="level" type="xsd:int"/>
      
   </message>
   
   <message name="debugLevelSetResponse"/>
   
   <message name="fileDeleteRequest">
   
      <part name="file" type="tns3:deleteFiles"/>
      
   </message> 
   
   <message name="fileDeleteResponse">
      
      <part name="jobid" type="xsd:string"/>
      
   </message> 
      

   <message name="blacklistDnRequest">
   
      <part name="name" type="xsd:string"/>
      <part name="blk" type="xsd:boolean"/>
      <part name="status" type="xsd:string"/>
      <part name="timeout" type="xsd:int"/>
      
   </message> 
   
   <message name="blacklistDnResponse"/>
   
   <message name="blacklistSeRequest">
   
      <part name="name" type="xsd:string"/>
      <part name="vo" type="xsd:string"/>
      <part name="status" type="xsd:string"/>
      <part name="timeout" type="xsd:int"/>
      <part name="blk" type="xsd:boolean"/>
      
   </message> 
   
   <message name="blacklistSeResponse"/>
   
   <message name="detailedJobStatusRequest">
      <part name="job_id" type="xsd:string"/>
   </message>
   
   <message name="detailedJobStatusResponse">
      <part name="detailedJobStatus" type="tns3:DetailedJobStatus"/>
   </message>   

   <message name="getTransferJobSummary2Response">

      <part name="getTransferJobSummary2Return" type="tns3:TransferJobSummary2"/>

   </message>

   <message name="getServiceMetadataRequest">

      <part name="key" type="xsd:string"/>

   </message>
   
   <message name="transferSubmitRequest">

      <part name="job" type="tns3:TransferJob"/>

   </message>
   
   <message name="transferSubmitResponse">

      <part name="transferSubmitReturn" type="xsd:string"/>

   </message>

   <message name="transferSubmit2Request">

      <part name="job" type="tns3:TransferJob"/>

   </message>

   <message name="transferSubmit2Response">

      <part name="transferSubmit2Return" type="xsd:string"/>

   </message>

   <message name="transferSubmit3Request">

      <part name="job" type="tns3:TransferJob2"/>

   </message>
   
   <message name="transferSubmit3Response">

      <part name="transferSubmit3Return" type="xsd:string"/>

   </message>

   <message name="transferSubmit4Request">

      <part name="job" type="tns3:TransferJob3"/>

   </message>
   
   <message name="transferSubmit4Response">

      <part name="transferSubmit4Return" type="xsd:string"/>

   </message>

   <message name="getServiceMetadataResponse">

      <part name="getServiceMetadataReturn" type="xsd:string"/>

   </message>

   <message name="getRolesOfResponse">

      <part name="getRolesOfReturn" type="tns3:Roles"/>

   </message>

   <message name="listRequests2Request">

      <part name="inGivenStates" type="impl:ArrayOf_soapenc_string"/>

      <part name="placeHolder" type="xsd:string"/>

      <part name="forDN" type="xsd:string"/>

      <part name="forVO" type="xsd:string"/>
      
      <part name="sourceSe" type="xsd:string"/>
      
      <part name="destSe" type="xsd:string"/>

   </message>
   
   <message name="listRequests2Response">

      <part name="listRequests2Return" type="impl:ArrayOf_tns3_JobStatus"/>

   </message>
   
   <message name="listDeletionRequestsRequest">

      <part name="inGivenStates" type="impl:ArrayOf_soapenc_string"/>

      <part name="placeHolder" type="xsd:string"/>

      <part name="forDN" type="xsd:string"/>

      <part name="forVO" type="xsd:string"/>
      
      <part name="sourceSe" type="xsd:string"/>
      
      <part name="destSe" type="xsd:string"/>

   </message>
   
   <message name="listDeletionRequestsResponse">

      <part name="listRequests2Return" type="impl:ArrayOf_tns3_JobStatus"/>

   </message>

   <message name="cancelRequest">

      <part name="requestIDs" type="impl:ArrayOf_soapenc_string"/>

   </message>

   <message name="cancelResponse">
   
   </message>
   
   <message name="cancel2Request">
   
      <part name="requestIDs" type="impl:ArrayOf_soapenc_string"/>
      
   </message>

   <message name="cancel2Response">
   
      <part name="jobIDs" type="impl:ArrayOf_soapenc_string"/>
      <part name="status" type="impl:ArrayOf_soapenc_string"/>
      
   </message>

   <message name="CannotCancelException">

      <part name="fault" element="tns3:CannotCancelExceptionElement"/>

   </message>

   <message name="listVOManagersResponse">

      <part name="listVOManagersReturn" type="impl:ArrayOf_soapenc_string"/>

   </message>

   <message name="setJobPriorityRequest">

      <part name="requestID" type="xsd:string"/>

      <part name="priority" type="xsd:int"/>

   </message>

   <message name="getFileStatusResponse">

      <part name="getFileStatusReturn" type="impl:ArrayOf_tns3_FileTransferStatus"/>

   </message>

   <message name="getTransferJobStatusResponse">

      <part name="getTransferJobStatusReturn" type="tns3:JobStatus"/>

   </message>

   <message name="getRolesRequest">

   </message>

   <message name="setJobPriorityResponse">

   </message>

   <message name="removeVOManagerRequest">

      <part name="VOName" type="xsd:string"/>

      <part name="principal" type="xsd:string"/>

   </message>

   <message name="getTransferJobSummary2Request">

      <part name="requestID" type="xsd:string"/>

   </message>
   
   <message name="getTransferJobSummary3Request">
      <part name="requestParams" type="tns3:JobRequest"/>
   </message>

   <message name="AuthorizationException">

      <part name="fault" element="tns3:AuthorizationExceptionElement"/>

   </message>

   <message name="getTransferJobStatusRequest">

      <part name="requestID" type="xsd:string"/>

   </message>
   
   <message name="getTransferJobStatus2Request">
   
      <part name="requestParams" type="tns3:JobRequest"/>
   
   </message>

   <message name="getTransferJobSummaryRequest">

      <part name="requestID" type="xsd:string"/>

   </message>

   <message name="InternalException">

      <part name="fault" element="tns3:InternalExceptionElement"/>

   </message>

   <message name="getRolesResponse">

      <part name="getRolesReturn" type="tns3:Roles"/>

   </message>

   <message name="ServiceBusyException">

      <part name="fault" element="tns3:ServiceBusyExceptionElement"/>

   </message>

   <message name="getFileStatus2Request">

      <part name="requestID" type="xsd:string"/>

      <part name="offset" type="xsd:int"/>

      <part name="limit" type="xsd:int"/>

   </message>
   
   <message name="getFileStatus3Request">
        <part name="filter" type="tns3:FileRequest"/>
   </message>

   <message name="addVOManagerRequest">

      <part name="VOName" type="xsd:string"/>

      <part name="principal" type="xsd:string"/>

   </message>

   <message name="getFileStatus2Response">

      <part name="getFileStatus2Return" type="impl:ArrayOf_tns3_FileTransferStatus2"/>

   </message>

   <message name="getSchemaVersionRequest">

   </message>

   <message name="listVOManagersRequest">

      <part name="VOName" type="xsd:string"/>

   </message>

   <message name="listRequestsResponse">

      <part name="listRequestsReturn" type="impl:ArrayOf_tns3_JobStatus"/>

   </message>

   <message name="getRolesOfRequest">

      <part name="otherDN" type="xsd:string"/>

   </message>

   <message name="getVersionRequest">

   </message>

   <message name="NotExistsException">

      <part name="fault" element="tns3:NotExistsExceptionElement"/>

   </message>

   <message name="getVersionResponse">

      <part name="getVersionReturn" type="xsd:string"/>

   </message>

   <message name="getInterfaceVersionRequest">

   </message>

   <message name="getSchemaVersionResponse">

      <part name="getSchemaVersionReturn" type="xsd:string"/>

   </message>

   <message name="removeVOManagerResponse">

   </message>

   <message name="addVOManagerResponse">

   </message>

   <message name="listRequestsRequest">

      <part name="inGivenStates" type="impl:ArrayOf_soapenc_string"/>

   </message>
   
   
   <message name="getSnapshotRequest">
      <part name="vo" type="xsd:string"/>
      <part name="src" type="xsd:string"/>
      <part name="dst" type="xsd:string"/>
   </message>

   <message name="getSnapshotResponse">

      <part name="result" type="xsd:string"/>     

   </message>

   <portType name="FileTransfer">



      <operation name="transferSubmit" parameterOrder="job">

         <input message="impl:transferSubmitRequest" name="transferSubmitRequest"/>

         <output message="impl:transferSubmitResponse" name="transferSubmitResponse"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>

      <operation name="transferSubmit2" parameterOrder="job">

         <input message="impl:transferSubmit2Request" name="transferSubmit2Request"/>

         <output message="impl:transferSubmit2Response" name="transferSubmit2Response"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>

      <operation name="transferSubmit3" parameterOrder="job">

         <input message="impl:transferSubmit3Request" name="transferSubmit3Request"/>

         <output message="impl:transferSubmit3Response" name="transferSubmit3Response"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>
      
      <operation name="transferSubmit4" parameterOrder="job">

         <input message="impl:transferSubmit4Request" name="transferSubmit4Request"/>

         <output message="impl:transferSubmit4Response" name="transferSubmit4Response"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>
      
      <operation name="prioritySet" parameterOrder="priority">
      
         <input message="impl:prioritySetRequest" name="prioritySetRequest"/>

         <output message="impl:prioritySetResponse" name="prioritySetResponse"/>
      
         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>
         
      </operation>
      
      <operation name="debugSet" parameterOrder="debug">
      
         <input message="impl:debugSetRequest" name="debugSetRequest"/>

         <output message="impl:debugSetResponse" name="debugSetResponse"/>
      
         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>
         
      </operation>
      
      <operation name="debugLevelSet" parameterOrder="debug">
      
         <input message="impl:debugLevelSetRequest" name="debugLevelSetRequest"/>

         <output message="impl:debugLevelSetResponse" name="debugLevelSetResponse"/>
      
         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>
         
      </operation>
      
     <operation name="fileDelete" parameterOrder="file">
      
         <input message="impl:fileDeleteRequest" name="fileDeleteRequest"/>

         <output message="impl:fileDeleteResponse" name="fileDeleteResponse"/>
      
         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>
         
      </operation>      
      
      <operation name="blacklistDn" parameterOrder="blacklistDn">
      
         <input message="impl:blacklistDnRequest" name="blacklistDnRequest"/>

         <output message="impl:blacklistDnResponse" name="blacklistDnResponse"/>
      
         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>
         
      </operation>
      
	<operation name="blacklistSe" parameterOrder="blacklistSe">
      
         <input message="impl:blacklistSeRequest" name="blacklistSeRequest"/>

         <output message="impl:blacklistSeResponse" name="blacklistSeResponse"/>
      
         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>
         
      </operation>
      
    <operation name="detailedJobStatus" parameterOrder="detailedJobStatus">
      
         <input message="impl:detailedJobStatusRequest" name="detailedJobStatusRequest"/>

         <output message="impl:detailedJobStatusResponse" name="detailedJobStatusResponse"/>
      
         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>
         
      </operation>      

      <operation name="listRequests" parameterOrder="inGivenStates">

         <input message="impl:listRequestsRequest" name="listRequestsRequest"/>

         <output message="impl:listRequestsResponse" name="listRequestsResponse"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>

      <operation name="listRequests2" parameterOrder="inGivenStates forDN forVO">

         <input message="impl:listRequests2Request" name="listRequests2Request"/>

         <output message="impl:listRequests2Response" name="listRequests2Response"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>
      
      <operation name="listDeletionRequests" parameterOrder="inGivenStates forDN forVO">

         <input message="impl:listDeletionRequestsRequest" name="listDeletionRequestsRequest"/>

         <output message="impl:listDeletionRequestsResponse" name="listDeletionRequestsResponse"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>      

      <!--  Deprecated. Use getFileStatus3 instead -->
      <operation name="getFileStatus" parameterOrder="requestID offset limit">

         <input message="impl:getFileStatusRequest" name="getFileStatusRequest"/>

         <output message="impl:getFileStatusResponse" name="getFileStatusResponse"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:NotExistsException" name="NotExistsException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>

      <!-- Deprecated (and unused by the fts3 cli). Use getFileStatus3 instead -->
      <operation name="getFileStatus2" parameterOrder="requestID offset limit">

         <input message="impl:getFileStatus2Request" name="getFileStatus2Request"/>

         <output message="impl:getFileStatus2Response" name="getFileStatus2Response"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:NotExistsException" name="NotExistsException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>
      
      <operation name="getFileStatus3">

         <input message="impl:getFileStatus3Request" name="getFileStatus3Request"/>

         <output message="impl:getFileStatusResponse" name="getFileStatusResponse"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:NotExistsException" name="NotExistsException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>

      <!-- Deprecated. Use getTransferJobStatus2 instead  -->
      <operation name="getTransferJobStatus" parameterOrder="requestID">

         <input message="impl:getTransferJobStatusRequest" name="getTransferJobStatusRequest"/>

         <output message="impl:getTransferJobStatusResponse" name="getTransferJobStatusResponse"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:NotExistsException" name="NotExistsException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>
      
      <operation name="getTransferJobStatus2">
      
         <input message="impl:getTransferJobStatus2Request" name="getTransferJobStatusRequest"/>

         <output message="impl:getTransferJobStatusResponse" name="getTransferJobStatusResponse"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:NotExistsException" name="NotExistsException"/>

         <fault message="impl:InternalException" name="InternalException"/>
      
      </operation>

      <operation name="getTransferJobSummary" parameterOrder="requestID">

         <input message="impl:getTransferJobSummaryRequest" name="getTransferJobSummaryRequest"/>

         <output message="impl:getTransferJobSummaryResponse" name="getTransferJobSummaryResponse"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:NotExistsException" name="NotExistsException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>

      <!-- Deprecated. Use getTransferJobSummary3 instead -->
      <operation name="getTransferJobSummary2" parameterOrder="requestID">

         <input message="impl:getTransferJobSummary2Request" name="getTransferJobSummary2Request"/>

         <output message="impl:getTransferJobSummary2Response" name="getTransferJobSummary2Response"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:NotExistsException" name="NotExistsException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>
      
      <operation name="getTransferJobSummary3">
      
         <input message="impl:getTransferJobSummary3Request" name="getTransferJobSummary3Request"/>

         <output message="impl:getTransferJobSummary2Response" name="getTransferJobSummary3Response"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:NotExistsException" name="NotExistsException"/>

         <fault message="impl:InternalException" name="InternalException"/>
      
      </operation>

      <operation name="cancel" parameterOrder="requestIDs">

         <input message="impl:cancelRequest" name="cancelRequest"/>

         <output message="impl:cancelResponse" name="cancelResponse"/>

         <fault message="impl:CannotCancelException" name="CannotCancelException"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:NotExistsException" name="NotExistsException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>
      
      <operation name="cancel2" parameterOrder="requestIDs">

         <input message="impl:cancel2Request" name="cancel2Request"/>

         <output message="impl:cancel2Response" name="cancel2Response"/>

         <fault message="impl:CannotCancelException" name="CannotCancelException"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:NotExistsException" name="NotExistsException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>

      <operation name="setJobPriority" parameterOrder="requestID priority">

         <input message="impl:setJobPriorityRequest" name="setJobPriorityRequest"/>

         <output message="impl:setJobPriorityResponse" name="setJobPriorityResponse"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:NotExistsException" name="NotExistsException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>
      
      
	  <operation name="getSnapshot" parameterOrder="getSnapshot">

         <input message="impl:getSnapshotRequest" name="getSnapshotRequest"/>

         <output message="impl:getSnapshotResponse" name="getSnapshotResponse"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ServiceBusyException" name="ServiceBusyException"/>

         <fault message="impl:NotExistsException" name="NotExistsException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>

      <operation name="addVOManager" parameterOrder="VOName principal">

         <input message="impl:addVOManagerRequest" name="addVOManagerRequest"/>

         <output message="impl:addVOManagerResponse" name="addVOManagerResponse"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:ExistsException" name="ExistsException"/>

         <fault message="impl:NotExistsException" name="NotExistsException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>

      <operation name="removeVOManager" parameterOrder="VOName principal">

         <input message="impl:removeVOManagerRequest" name="removeVOManagerRequest"/>

         <output message="impl:removeVOManagerResponse" name="removeVOManagerResponse"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:NotExistsException" name="NotExistsException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>

      <operation name="listVOManagers" parameterOrder="VOName">

         <input message="impl:listVOManagersRequest" name="listVOManagersRequest"/>

         <output message="impl:listVOManagersResponse" name="listVOManagersResponse"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:NotExistsException" name="NotExistsException"/>

         <fault message="impl:InvalidArgumentException" name="InvalidArgumentException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>

      <operation name="getRoles">

         <input message="impl:getRolesRequest" name="getRolesRequest"/>

         <output message="impl:getRolesResponse" name="getRolesResponse"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>

      <operation name="getRolesOf" parameterOrder="otherDN">

         <input message="impl:getRolesOfRequest" name="getRolesOfRequest"/>

         <output message="impl:getRolesOfResponse" name="getRolesOfResponse"/>

         <fault message="impl:AuthorizationException" name="AuthorizationException"/>

         <fault message="impl:InternalException" name="InternalException"/>

      </operation>

      <operation name="getVersion">

         <input message="impl:getVersionRequest" name="getVersionRequest"/>

         <output message="impl:getVersionResponse" name="getVersionResponse"/>

      </operation>

      <operation name="getSchemaVersion">

         <input message="impl:getSchemaVersionRequest" name="getSchemaVersionRequest"/>

         <output message="impl:getSchemaVersionResponse" name="getSchemaVersionResponse"/>

      </operation>

      <operation name="getInterfaceVersion">

         <input message="impl:getInterfaceVersionRequest" name="getInterfaceVersionRequest"/>

         <output message="impl:getInterfaceVersionResponse" name="getInterfaceVersionResponse"/>

      </operation>

      <operation name="getServiceMetadata" parameterOrder="key">

         <input message="impl:getServiceMetadataRequest" name="getServiceMetadataRequest"/>

         <output message="impl:getServiceMetadataResponse" name="getServiceMetadataResponse"/>

      </operation>

   </portType>

   <binding name="FileTransferSoapBinding" type="impl:FileTransfer">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <operation name="transferSubmit">

         <wsdlsoap:operation soapAction=""/>

         <input name="transferSubmitRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="transferSubmitResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>

      <operation name="transferSubmit2">

         <wsdlsoap:operation soapAction=""/>

         <input name="transferSubmit2Request">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="transferSubmit2Response">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>

      <operation name="transferSubmit3">

         <wsdlsoap:operation soapAction=""/>

         <input name="transferSubmit3Request">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="transferSubmit3Response">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>
      
            <operation name="transferSubmit4">

         <wsdlsoap:operation soapAction=""/>

         <input name="transferSubmit4Request">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="transferSubmit4Response">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>
      
      <operation name="prioritySet">

         <wsdlsoap:operation soapAction=""/>

         <input name="prioritySetRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="prioritySetResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>
      
 	  <operation name="debugSet">

         <wsdlsoap:operation soapAction=""/>

         <input name="debugSetRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="debugSetResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>
      
	  <operation name="debugLevelSet">

         <wsdlsoap:operation soapAction=""/>

         <input name="debugLevelSetRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="debugLevelSetResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>
      
	  <operation name="fileDelete">

         <wsdlsoap:operation soapAction=""/>

         <input name="fileDeleteRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="fileDeleteResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>      
      
      <operation name="blacklistDn">

         <wsdlsoap:operation soapAction=""/>

         <input name="blacklistDnRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="blacklistDnResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>
      
      <operation name="blacklistSe">

         <wsdlsoap:operation soapAction=""/>

         <input name="blacklistSeRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="blacklistSeResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>     
      
      <operation name="detailedJobStatus">

         <wsdlsoap:operation soapAction=""/>

         <input name="detailedJobStatusRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="detailedJobStatusResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>         

      <operation name="listRequests">

         <wsdlsoap:operation soapAction=""/>

         <input name="listRequestsRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="listRequestsResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>

      <operation name="listRequests2">

         <wsdlsoap:operation soapAction=""/>

         <input name="listRequests2Request">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="listRequests2Response">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>
      
      <operation name="listDeletionRequests">

         <wsdlsoap:operation soapAction=""/>

         <input name="listDeletionRequestsRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="listDeletionRequestsResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>      

      <!-- Deprecated -->
      <operation name="getFileStatus">

         <wsdlsoap:operation soapAction=""/>

         <input name="getFileStatusRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="getFileStatusResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="NotExistsException">

            <wsdlsoap:fault name="NotExistsException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>

      <!-- Deprecated -->
      <operation name="getFileStatus2">

         <wsdlsoap:operation soapAction=""/>

         <input name="getFileStatus2Request">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="getFileStatus2Response">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="NotExistsException">

            <wsdlsoap:fault name="NotExistsException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>
      
      <operation name="getFileStatus3">

         <wsdlsoap:operation soapAction=""/>

         <input name="getFileStatus3Request">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="getFileStatusResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="NotExistsException">

            <wsdlsoap:fault name="NotExistsException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>

      <!-- Deprecated -->
      <operation name="getTransferJobStatus">

         <wsdlsoap:operation soapAction=""/>

         <input name="getTransferJobStatusRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="getTransferJobStatusResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="NotExistsException">

            <wsdlsoap:fault name="NotExistsException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>
      
      <operation name="getTransferJobStatus2">

         <wsdlsoap:operation soapAction=""/>

         <input name="getTransferJobStatusRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="getTransferJobStatusResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="NotExistsException">

            <wsdlsoap:fault name="NotExistsException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>

      <operation name="getTransferJobSummary">

         <wsdlsoap:operation soapAction=""/>

         <input name="getTransferJobSummaryRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="getTransferJobSummaryResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="NotExistsException">

            <wsdlsoap:fault name="NotExistsException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>

      <operation name="getTransferJobSummary2">

         <wsdlsoap:operation soapAction=""/>

         <input name="getTransferJobSummary2Request">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="getTransferJobSummary2Response">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="NotExistsException">

            <wsdlsoap:fault name="NotExistsException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>
      
      <operation name="getTransferJobSummary3">

         <wsdlsoap:operation soapAction=""/>

         <input name="getTransferJobSummary3Request">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="getTransferJobSummary3Response">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="NotExistsException">

            <wsdlsoap:fault name="NotExistsException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>

      <operation name="cancel">

         <wsdlsoap:operation soapAction=""/>

         <input name="cancelRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="cancelResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="CannotCancelException">

            <wsdlsoap:fault name="CannotCancelException" use="literal"/>

         </fault>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="NotExistsException">

            <wsdlsoap:fault name="NotExistsException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>
      
      <operation name="cancel2">

         <wsdlsoap:operation soapAction=""/>

         <input name="cancel2Request">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="cancel2Response">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="CannotCancelException">

            <wsdlsoap:fault name="CannotCancelException" use="literal"/>

         </fault>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="NotExistsException">

            <wsdlsoap:fault name="NotExistsException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>

      <operation name="setJobPriority">

         <wsdlsoap:operation soapAction=""/>

         <input name="setJobPriorityRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="setJobPriorityResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="NotExistsException">

            <wsdlsoap:fault name="NotExistsException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>
      
      
	  <operation name="getSnapshot">

         <wsdlsoap:operation soapAction=""/>

         <input name="getSnapshotRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="getSnapshotResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ServiceBusyException">

            <wsdlsoap:fault name="ServiceBusyException" use="literal"/>

         </fault>

         <fault name="NotExistsException">

            <wsdlsoap:fault name="NotExistsException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>
      
      

      <operation name="addVOManager">

         <wsdlsoap:operation soapAction=""/>

         <input name="addVOManagerRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="addVOManagerResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="ExistsException">

            <wsdlsoap:fault name="ExistsException" use="literal"/>

         </fault>

         <fault name="NotExistsException">

            <wsdlsoap:fault name="NotExistsException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>

      <operation name="removeVOManager">

         <wsdlsoap:operation soapAction=""/>

         <input name="removeVOManagerRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="removeVOManagerResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="NotExistsException">

            <wsdlsoap:fault name="NotExistsException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>

      <operation name="listVOManagers">

         <wsdlsoap:operation soapAction=""/>

         <input name="listVOManagersRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="listVOManagersResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="NotExistsException">

            <wsdlsoap:fault name="NotExistsException" use="literal"/>

         </fault>

         <fault name="InvalidArgumentException">

            <wsdlsoap:fault name="InvalidArgumentException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>

      <operation name="getRoles">

         <wsdlsoap:operation soapAction=""/>

         <input name="getRolesRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="getRolesResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>

      <operation name="getRolesOf">

         <wsdlsoap:operation soapAction=""/>

         <input name="getRolesOfRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="getRolesOfResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

         <fault name="AuthorizationException">

            <wsdlsoap:fault name="AuthorizationException" use="literal"/>

         </fault>

         <fault name="InternalException">

            <wsdlsoap:fault name="InternalException" use="literal"/>

         </fault>

      </operation>


      <operation name="getVersion">

         <wsdlsoap:operation soapAction=""/>

         <input name="getVersionRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="getVersionResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

      </operation>

      <operation name="getSchemaVersion">

         <wsdlsoap:operation soapAction=""/>

         <input name="getSchemaVersionRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="getSchemaVersionResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

      </operation>

      <operation name="getInterfaceVersion">

         <wsdlsoap:operation soapAction=""/>

         <input name="getInterfaceVersionRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="getInterfaceVersionResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

      </operation>

      <operation name="getServiceMetadata">

         <wsdlsoap:operation soapAction=""/>

         <input name="getServiceMetadataRequest">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </input>

         <output name="getServiceMetadataResponse">

            <wsdlsoap:body namespace="http://glite.org/wsdl/services/org.glite.data.transfer.fts" use="literal"/>

         </output>

      </operation>

   </binding>

   <service name="FileTransferService">

      <port binding="impl:FileTransferSoapBinding" name="FileTransfer">

         <wsdlsoap:address location="https://localhost:8443/glite-data-transfer-interface/FileTransfer"/>

      </port>

   </service>

</definitions>
