src/ws-ifce/fts3-log-0.0.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="mtom_stream_test"
 targetNamespace="http://cern.ch/wsdl/services/fts3/log"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:xop="http://www.w3.org/2004/08/xop/include"
 xmlns:m="http://cern.ch/wsdl/services/fts3/log"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="http://cern.ch/wsdl/services/fts3/log"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xop="http://www.w3.org/2004/08/xop/include"
  xmlns:m="http://cern.ch/wsdl/services/fts3/log"
  xmlns="http://www.w3.org/2001/XMLSchema">

  <import namespace="http://www.w3.org/2004/08/xop/include" schemaLocation="http://www.w3.org/2004/08/xop/include"/>

   <complexType name="Log">
    <sequence>
     <element ref="xop:Include" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
   
   <element name="log" type="m:Log"/>

   <complexType name="LogInternal">
    <sequence>
     <element name="logsdata" type="m:Log" minOccurs="1" maxOccurs="unbounded"/>
     <element name="lognames" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>    
   </complexType>

 </schema>
</types>

<message name="GetLog">
  <part name="jobId" type="xsd:string"/>
</message>

<message name="GetLogResponse">
  <part name="log" element="m:log"/> 
</message>

<message name="GetLogInternal">
  <part name="jobId" type="xsd:string"/>
</message>

<message name="GetLogInternalResponse">
  <part name="logs" type="m:LogInternal"/> 
</message>


<portType name="LogRetriever">
 
 <operation name="GetLog">
  <input message="m:GetLog"/>
  <output message="m:GetLogResponse"/>
 </operation>
 
  <operation name="GetLogInternal">
  <input message="m:GetLogInternal"/>
  <output message="m:GetLogInternalResponse"/>
 </operation>
 
</portType>

<binding name="LogRetrieverSoapBinding" type="m:LogRetriever">
 
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 
 <operation name="GetLog">
  <SOAP:operation/>
  <input>
   <SOAP:body namespace="http://cern.ch/wsdl/services/fts3/log" use="literal"/>
  </input>
  <output>
   <SOAP:body namespace="http://cern.ch/wsdl/services/fts3/log" use="literal"/>
  </output>
 </operation>
 
  <operation name="GetLogInternal">
  <SOAP:operation/>
  <input>
   <SOAP:body namespace="http://cern.ch/wsdl/services/fts3/log" use="literal"/>
  </input>
  <output>
   <SOAP:body namespace="http://cern.ch/wsdl/services/fts3/log" use="literal"/>
  </output>
 </operation>

</binding>

<service name="LogRetrieverService">
 <port name="LogRetriever" binding="m:LogRetrieverSoapBinding">
  <SOAP:address location="http://localhost:80"/>
 </port>
</service>

</definitions>